<p id="notice"><%= notice %></p>

<p>
  <strong>Furniture:</strong>
  <%= @furniture_delivery.furniture.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @furniture_delivery.quantity %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @furniture_delivery.cost %>
</p>

<p>
  <strong>Address:</strong>
  <%= @furniture_delivery.address %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @furniture_delivery.delivery_date %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @furniture_delivery.total_delivery_cost %>
</p>

<%= link_to 'Edit', edit_furniture_delivery_path(@furniture_delivery) %> |
<%= link_to 'Back', furniture_deliveries_path %>
